services:
  jenkins:
    build:
      context: ./docker/jenkins
      dockerfile: Dockerfile
    container_name: jenkins
    user: root
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    network_mode: host   

volumes:
  jenkins_home:
